dependencies

/node_modules
/.pnp
.pnp.js

build output

/build
/dist
/out
/tmp

logs

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.log

OS and editor files

.DS_Store
.env
.env.local
.env.production
.env.development
.npm
.idea
.vscode

misc

Coverage reports

/coverage
